@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss/tailwind.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: "#EDEDED";
$secondary: "#DA0037";
$dark-primary: "#171717";
$dark-mixed: "#2e2e2e";
$dark-secondary: "#444444";

// Cursor
* {
  cursor: none !important;
  @apply font-nunito box-border;
}

.cursor-dot {
  @apply fixed top-0 left-0 w-[8px] h-[8px] bg-dark-secondary rounded-full z-[51] pointer-events-none;
}
.cursor-circle {
  @apply rounded-full fixed top-0 left-0  pointer-events-none  mix-blend-difference flex justify-center items-center border-dark-secondary;
}

@media only screen and (max-width: 767px) {
  * {
    cursor: default !important;
  }
  body .cursor-dot,
  .cursor-circle {
    display: none !important;
  }
}

// Scroll
::-webkit-scrollbar {
  @apply w-[0.3rem];
}

.scrollbar-hide::-webkit-scrollbar {
  @apply hidden;
}

::-webkit-scrollbar-track {
  margin-block: 0.5rem;
  @apply bg-dark-mixed duration-1000 bg-opacity-0 rounded-full hover:bg-opacity-75;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-secondary active:bg-opacity-80 rounded-full;
}

@supports (scrollbar-color: red black) {
  * {
    scrollbar-color: #444444 #2e2e2e;
    scrollbar-width: auto;
  }
}

html,
body {
  max-width: 100vw;
  @apply p-0 m-0 overflow-x-hidden bg-dark-primary;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    @apply text-primary bg-dark-primary;
  }
}

.seperator-y {
  @apply mx-4 xl:mx-4 lg:mx-2 h-10 xl:h-10 lg:h-32 w-1 border border-dark-secondary bg-dark-secondary rounded;
}

.line-y {
  @apply absolute  h-full w-1;
}

.line-y-sm {
  @apply absolute  h-2/3 w-1;
  top: -8%;
}

.menu-index {
  z-index: 100;
}

.wrapper-container {
  @apply w-screen flex justify-center;
}
.wrapper {
  @apply extra-small:w-10/12 w-11/12;
  max-width: 80rem;
}
.topic {
  @apply w-11/12 pb-[15rem];
  max-width: 38rem;
}

.projects-container {
  max-width: 60rem;
}

.project-details {
  @apply p-5 tiny:p-8 extra-small:p-10 absolute flex flex-col text-gray-300  max-w-[33.5rem] w-full h-full sm:w-7/12  sm:bg-opacity-75 sm:p-5  bg-opacity-90 rounded bg-dark-primary lg:bg-opacity-0;
}

.details-right {
  @media (min-width: 640px) {
    @apply sm:translate-x-[14rem];
  }
  @media (min-width: 820px) {
    @apply sm:translate-x-[13rem];
  }
  @media (min-width: 840px) {
    @apply sm:translate-x-[12.5rem];
  }
  @media (min-width: 860px) {
    @apply sm:translate-x-[12rem];
  }
  @media (min-width: 900px) {
    @apply sm:translate-x-[11rem];
  }
  @media (min-width: 920px) {
    @apply sm:translate-x-[10.5rem];
  }
  @media (min-width: 940px) {
    @apply sm:translate-x-[10rem];
  }
  @media (min-width: 960px) {
    @apply sm:translate-x-[9.5rem];
  }
  @media (min-width: 980px) {
    @apply sm:translate-x-[9rem];
  }
  @media (min-width: 1000px) {
    @apply sm:translate-x-[8.5rem];
  }
  @media (min-width: 1020px) {
    @apply sm:translate-x-[7rem];
  }
}
.details-left {
  @media (min-width: 640px) {
    @apply sm:translate-x-[-14rem];
  }
  @media (min-width: 820px) {
    @apply sm:translate-x-[-13rem];
  }
  @media (min-width: 840px) {
    @apply sm:translate-x-[-12.5rem];
  }
  @media (min-width: 860px) {
    @apply sm:translate-x-[-12rem];
  }
  @media (min-width: 900px) {
    @apply sm:translate-x-[-11rem];
  }
  @media (min-width: 920px) {
    @apply sm:translate-x-[-10.5rem];
  }
  @media (min-width: 940px) {
    @apply sm:translate-x-[-10rem];
  }
  @media (min-width: 960px) {
    @apply sm:translate-x-[-9.5rem];
  }
  @media (min-width: 980px) {
    @apply sm:translate-x-[-9rem];
  }
  @media (min-width: 1000px) {
    @apply sm:translate-x-[-8.5rem];
  }
  @media (min-width: 1020px) {
    @apply sm:translate-x-[-7rem];
  }
}

.details-right-hover {
  @media (min-width: 640px) {
    @apply sm:hover:translate-x-[35%];
  }
  @media (min-width: 780px) {
    @apply sm:hover:translate-x-[32.5%];
  }
  @media (min-width: 800px) {
    @apply sm:hover:translate-x-[30%];
  }
  @media (min-width: 820px) {
    @apply sm:hover:translate-x-[15%];
  }
}
.details-left-hover {
  @media (min-width: 640px) {
    @apply sm:hover:translate-x-[-35%];
  }
  @media (min-width: 780px) {
    @apply sm:hover:translate-x-[-32.5%];
  }
  @media (min-width: 800px) {
    @apply sm:hover:translate-x-[-30%];
  }
  @media (min-width: 820px) {
    @apply sm:hover:translate-x-[-15%];
  }
}

.images-left {
  @media (min-width: 640px) {
    @apply sm:translate-x-[-11rem];
  }
  @media (min-width: 680px) {
    @apply sm:translate-x-[-12rem];
  }
  @media (min-width: 720px) {
    @apply sm:translate-x-[-12.5rem];
  }
  @media (min-width: 720px) {
    @apply sm:translate-x-[-12rem];
  }
  @media (min-width: 760px) {
    @apply sm:translate-x-[-11.5rem];
  }
  @media (min-width: 790px) {
    @apply sm:translate-x-[-11rem];
  }
  @media (min-width: 810px) {
    @apply sm:translate-x-[-10.5rem];
  }
  @media (min-width: 830px) {
    @apply sm:translate-x-[-10rem];
  }
  @media (min-width: 850px) {
    @apply sm:translate-x-[-9.5rem];
  }
  @media (min-width: 870px) {
    @apply sm:translate-x-[-9rem];
  }
  @media (min-width: 890px) {
    @apply sm:translate-x-[-8.5rem];
  }
  @media (min-width: 900px) {
    @apply sm:translate-x-[-8rem];
  }
  @media (min-width: 920px) {
    @apply sm:translate-x-[-7.5rem];
  }
  @media (min-width: 940px) {
    @apply sm:translate-x-[-7rem];
  }
  @media (min-width: 950px) {
    @apply sm:translate-x-[-6.6rem];
  }
  @media (min-width: 970px) {
    @apply sm:translate-x-[-6rem];
  }
  @media (min-width: 990px) {
    @apply sm:translate-x-[-5.5rem];
  }
  @media (min-width: 1010px) {
    @apply sm:translate-x-[-5rem];
  }
}
.images-right {
  @media (min-width: 640px) {
    @apply sm:translate-x-[11rem];
  }
  @media (min-width: 680px) {
    @apply sm:translate-x-[12rem];
  }
  @media (min-width: 720px) {
    @apply sm:translate-x-[12.5rem];
  }
  @media (min-width: 720px) {
    @apply sm:translate-x-[12rem];
  }
  @media (min-width: 760px) {
    @apply sm:translate-x-[11.5rem];
  }
  @media (min-width: 790px) {
    @apply sm:translate-x-[11rem];
  }
  @media (min-width: 810px) {
    @apply sm:translate-x-[10.5rem];
  }
  @media (min-width: 830px) {
    @apply sm:translate-x-[10rem];
  }
  @media (min-width: 850px) {
    @apply sm:translate-x-[9.5rem];
  }
  @media (min-width: 870px) {
    @apply sm:translate-x-[9rem];
  }
  @media (min-width: 890px) {
    @apply sm:translate-x-[8.5rem];
  }
  @media (min-width: 900px) {
    @apply sm:translate-x-[8rem];
  }
  @media (min-width: 920px) {
    @apply sm:translate-x-[7.5rem];
  }
  @media (min-width: 940px) {
    @apply sm:translate-x-[7rem];
  }
  @media (min-width: 950px) {
    @apply sm:translate-x-[6.6rem];
  }
  @media (min-width: 970px) {
    @apply sm:translate-x-[6rem];
  }
  @media (min-width: 990px) {
    @apply sm:translate-x-[5.5rem];
  }
  @media (min-width: 1010px) {
    @apply sm:translate-x-[5rem];
  }
}

.navbar-wrapper {
  @apply extra-small:w-10/12 w-11/12;
  max-width: 80rem;
}
@media (max-width: 768px) {
  .navbar-wrapper {
    @apply w-screen 2xl:px-32 lg:px-24 md:px-16 sm:px-12 px-8;
  }
}

.title-container {
  @apply relative flex justify-center md:justify-start items-center w-full mb-6;
}
.title {
  @apply z-[1] font-semibold flex justify-center items-center px-3 text-2xl;
}
.title-line {
  @apply z-0 absolute bottom-2.5 border border-dark-mixed w-full;
}

.home {
  height: calc(100vh - 80px);
}
.about {
  @apply min-h-[40rem];
}
.contact {
  max-width: 25rem;
  @apply w-11/12;
}

.loader-svg {
  display: flex;
  align-items: flex-end;
}

.loader-svg .mid svg polygon {
  animation: dash 2s linear reverse;
}
@keyframes midanim {
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes dash {
  from {
    stroke-dasharray: 100;
  }
  to {
    stroke-dasharray: 0;
  }
}

.highlight-topic {
  @apply inline-flex font-medium;
}

.smallText {
  max-width: max-content;
  @apply ml-1.5 mr-1.5;
}
.smallTextEnd {
  max-width: max-content;
  @apply ml-1.5 mr-0;
}

.dot {
  @apply absolute;
}

.modal {
  height: calc(100vh - 80px);
}

.input {
  @apply relative
   block
  w-full
  py-1.5
  text-xl
  font-normal
  text-primary
   bg-clip-padding
   bg-transparent
  border-b-2 border-solid border-dark-secondary
  duration-500
  transition
  ease-in-out
  m-0
  focus:text-primary 
  caret-dark-secondary
   focus:outline-none;
}
.textarea {
  @apply text-base min-h-[7rem] max-h-[28rem] border-2;
}

.error-text {
  @apply text-secondary;
}

.pipe-shadow {
  box-shadow: 0px 200px 90px -110px rgba(46, 46, 46, 1) inset;
  -webkit-box-shadow: 0px 200px 90px -110px rgba(46, 46, 46, 1) inset;
  -moz-box-shadow: 0px 200px 90px -110px rgba(46, 46, 46, 1) inset;
}

.preload-line {
  @apply h-1.5 z-[0] bg-opacity-0 w-[2.75rem] overflow-hidden relative;
}

#hexagon {
  stroke-dasharray: 576;
  stroke-dashoffset: 576;

  animation: draw 0.75s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  animation-fill-mode: forwards;

  filter: drop-shadow(0px 0px 7.5px hsla(345, 100%, 43%, 0.75));
}

#hexagon-navbar {
  stroke-dasharray: 576;
  stroke-dashoffset: 576;

  animation: draw 2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  animation-fill-mode: forwards;

  filter: drop-shadow(0px 0px 7.5px hsla(345, 100%, 43%, 0.75));
}

#logoText {
  filter: drop-shadow(0px 0px 3.5px hsla(345, 100%, 43%, 0.75));
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.arrowUp {
  @apply right-6 extra-small:right-8 sm:right-12 md:right-16 lg:right-20 xl:right-24;

  @media (width > 90rem) {
    right: calc((100vw - 80rem) / 2);
  }
}

.animation-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.animation-fly {
  animation: fly 1.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.5px, -0.5px, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, -2px, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 2px, 0);
  }
}

@keyframes fly {
  0% {
    transform: translate(0%, 0%);
    opacity: 100%;
    rotate: 0deg;
  }

  100% {
    transform: translate(500%, -500%);
    opacity: 0%;
    rotate: 15deg;
  }
}

.projectTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @media (width >= 400px) {
    font-size: 1.5rem;
  }
  @apply sm:text-[1.65rem] lg:text-3xl;
}

.projectImage {
  @apply h-[250px] 2tiny:min-h-full max-h-[353px] w-full max-w-[529px];
}
